.selected {
  background-color:  #722F25 ;
  color: white;
}

.btn-group .btn {
  margin: 0 5px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: 250px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  flex-grow: 1;
}

.preco {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745;
}

.btn-primary {
  background-color: #722F25 ;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color:  #722F25 ;
}
