<app-pagina-inicial></app-pagina-inicial>

<div class="container mt-5">
    <section>
      <h2>Nossa História</h2>
      <p>O Karapinha XPTo nasceu da paixão pela beleza e bem-estar. Fundado em 2010 por Maria Silva, o salão começou como um pequeno empreendimento familiar e rapidamente se tornou um dos principais destinos de beleza da região.</p>
      <p>Ao longo dos anos, o Karapinha XPTo expandiu suas instalações, diversificou seus serviços e construiu uma equipe talentosa e dedicada, sempre mantendo o compromisso com a qualidade e a satisfação do cliente.</p>
    </section>

    <section>
      <h2>Nossa Missão</h2>
      <p>Nossa missão é proporcionar uma experiência excepcional de beleza e bem-estar, oferecendo serviços de alta qualidade, atendimento personalizado e um ambiente acolhedor e relaxante.</p>
    </section>

    <section>
      <h2>Nossa Equipe</h2>
      <div class="team-member">
        <img src="../../../../../../assets/images/Funcionários/CEO.png" alt="Valdir Simões">
        <h3>Valdir Simões</h3>
        <p>Fundador e CEO </p>
      </div>
      <div class="team-member">
        <img src="../../../../../../assets/images/Funcionários/CEO.png" alt="Wagner Simões">
        <h3>Wagner Simões</h3>
        <p>Cabeleireiro Principal</p>
      </div>
      <!-- Adicione mais membros da equipe conforme necessário -->
    </section>

    <section>
      <h2>Nossa Localização</h2>
      <p>Benfica-Kifica rua 21
        Angola, Luanda, 2345</p>
    </section>

    <!-- Adicione mais seções conforme necessário -->

  </div>


<app-footer></app-footer>