<div  [ngClass]="{'menu':isFixed}">

  
  
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark  bg-dark-K border-bottom border-body"  >
    
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand logo_container">
        <a class="navbar-brand text_Logo">KARAPINHA XPTO</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 menu_link">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="'/menu'" routerLinkActive="active-link">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/pagina-servicos'" routerLinkActive="active-link">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/profissionais'" aria-disabled="true" routerLinkActive="active-link">Profissionais</a>
            </li>
            <div *ngIf="userData">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/marcacoes'" routerLinkActive="active-link">Marcações</a>
                </li>
            </div>
        </ul>
        <div class="auth-buttons">
            <div *ngIf="!userData">
                <button pButton type="submit" class="btn_color me-2" [routerLink]="['/login']">Entrar</button>
            </div>
            <div *ngIf="!userData">
                <button pButton type="submit" class="btn_color" [routerLink]="['/registro']">Registar</button>
            </div>
        </div>
    </div>
</div>


        <div class="row navFoto">
            <div class="col-md-1 d-flex align-items-center">
              <div *ngIf="userData">
                <p-avatar image="./assets/{{ userData.Foto }}" size="large" shape="circle" [routerLink]="['/perfil']"></p-avatar>
              </div>

              <div *ngIf="userData">         
                 <i class="pi pi-calendar mr-2 p-text-secondary" pBadge style="font-size: 2rem" [value]="marcacaoCount" severity="danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
              </div>

            </div>
           
        </div>
        <div class="col-md-1" *ngIf="userData">
          <button (click)="logout()" class="btn btn-danger">sair</button>
       </div>
        
        
        
  


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen	">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Marcações
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p-toast></p-toast>
           <!-- user-list.component.html -->
                <div class="container">
                    <h2>Lista de Marcações</h2>
                    <div class="p-inputgroup mb-3">
                      <span class="p-inputgroup-addon">
                        <i class="pi pi-search"></i>
                      </span>
                      <input type="text" pInputText placeholder="Pesquisar" (input)="applyFilterGlobal($event)" />
                    </div>
                <!-- Tabela com Pesquisa e Rolagem -->
                <p-table
                #table 
                [value]="marcacoes"
                [paginator]="true"
                [rows]="10"
                [globalFilterFields]="['status', 'totalPagar', 'dataRegistro']"
                [scrollable]="true"
                scrollHeight="auto"
                styleClass="adjusted-table"
                >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Categoria</th>
                    <th>Serviço</th>
                    <th>Profissional</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Preço</th>
                    <th>Estado</th>
                    <th>Operações</th>
                  </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-marcacao>
                  <!-- Lista de Serviços Marcados -->
                  <tr *ngFor="let servicoMarcado of marcacao.servicosMarcados" [ngClass]="{
                    'marcacao-verde': marcacao.status === true
                    }">
                    <td>{{ getCategoria(servicoMarcado.servicoId) }}</td>
                    <td>{{ getServico(servicoMarcado.servicoId) }}</td>
                    <td>{{ getProfissional(servicoMarcado.profissionalId) }}</td>
                    <td>{{ servicoMarcado.data | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ servicoMarcado.hora }}</td>
                    <td>{{ getPreco(servicoMarcado.servicoId) | currency }}</td>
                    <td>{{ marcacao.status ? 'Ativo' : 'Inativo' }}</td>
                    <td>
                      <!-- Botão de Reagendar -->
                      <button *ngIf=" marcacao.status === false " class="btn btn-secondary" pButton type="button" icon="pi pi-calendar" (click)="abrirModalAtualizacao(servicoMarcado.profissionalId , servicoMarcado.id)"></button>
                    <!--reagendarServico(servicoMarcado)--> 
                    </td>
                  </tr>
                  <!-- Linha para Total a Pagar e Botão de Confirmar Marcação -->
                  <tr>
                    <td colspan="6" ><strong>Total:</strong> {{ marcacao.totalPagar | currency }}</td>  
                    <td ><button *ngIf="marcacao.status === false" class="btn btn-primary" pButton type="button" icon="pi pi-check" (click)="confirmarMarcacao(marcacao.id)" [disabled]="marcado">Confirmar</button></td>
                    <td><button *ngIf="marcacao.status === false" pButton type="button" icon="pi pi-trash" (click)="confirmarDelecao(marcacao.id)"></button></td>
                  </tr>
                  <tr><td colspan="8" class="barreira_Cor"><hr></td></tr>

                </ng-template>
              </p-table>

              <p-dialog header="Reagendar Marcação" [(visible)]="displayUpdateDialog" modal="true" [style]="{width: '700px', height:'600px'}">
                <form #servicoForm="ngForm" (ngSubmit)="atualizarServicoMarcacao(servicoForm)">
                  <div class="p-fluid">
                    <!-- Seleção de Profissional e Data -->
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="profissional">Selecione o Profissional</label>
                          <p-dropdown 
                            [options]="filtrarProfissionaisPorServico()" 
                            [(ngModel)]="profissionalSelecionado" 
                            optionLabel="nome" 
                            placeholder="Selecione o Profissional"
                            (onChange)="filtrarHorariosPorProfissional()"
                            emptyMessage="Nenhum Profissional disponível"
                            inputId="profissional"
                            name="profissionalSelecionado"
                            filter="true"
                            required>
                            <ng-template let-profissional pTemplate="item">
                              <div class="flex align-items-center">
                                <img src="./assets/{{profissional.foto}}" alt="{{ profissional.nome }}" width="30" class="mr-2">
                                <span>{{ profissional.nome }}</span>
                              </div>
                            </ng-template>
                            <ng-template let-profissional pTemplate="selectedItem">
                              <div class="flex align-items-center">
                                <img src="./assets/{{profissional?.foto}}" alt="{{ profissional?.nome }}" width="30" class="mr-2">
                                <span>{{ profissional?.nome }}</span>
                              </div>
                            </ng-template>
                          </p-dropdown>
                          <!-- Mensagem de erro se o profissional não for selecionado -->
                          <div *ngIf="servicoForm.submitted && !profissionalSelecionado" class="text-danger">
                            Selecione um profissional.
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="data">Selecione a Data</label>
                          <input 
                            type="date" 
                            class="form-control" 
                            [(ngModel)]="dataSelecionada"
                            [min]="getMinDate()"
                            inputId="data"
                            [ngModelOptions]="{ standalone: true }" 
                            name="dataSelecionada"
                            (change)="filtrarHorariosPorProfissional()"
                            required>
                          <!-- Mensagem de erro se a data não for selecionada -->
                          <div *ngIf="servicoForm.submitted && !dataSelecionada" class="text-danger">
                            Selecione uma data.
                          </div>
                        </div>
                      </div>
                    </div>
              
                    <!-- Seleção de Horário -->
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="horario">Selecione o Horário</label>
                          <p-dropdown 
                            [options]="horariosDisponiveis" 
                            [(ngModel)]="horaSelecionada"
                            optionLabel="hora"
                            placeholder="Selecione o Horário"
                            emptyMessage="Nenhum horário disponível"
                            inputId="horario"
                            filter="true"
                            name="horaSelecionada"
                            [ngModelOptions]="{ standalone: true }" 
                            required>
                          </p-dropdown>
                          <!-- Mensagem de erro se o horário não for selecionado -->
                          <div *ngIf="servicoForm.submitted && (!horaSelecionada || horaSelecionada === '00:00:00')" class="text-danger">
                            Selecione um horário válido (não pode ser 00:00:00).
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p-footer>
                    <button pButton type="submit" label="Reagendar" [disabled]="servicoForm.invalid"></button>
                    <button pButton type="button" label="Cancelar" (click)="fecharModalAtualizacao()"></button>
                  </p-footer>
                </form>
              </p-dialog>
              

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>

